@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: transparent;
  font-family: "Fjalla One", sans-serif;
}

#mainContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: red;
}

#listaMensajes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

li {
  list-style: none;
  width: 100%;
  position: relative;
}

.mensaje-row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  opacity: 0;
  transform: skewX(-5deg);
  animation: phantom-appear 0.2s cubic-bezier(0.1, 0.9, 0.2, 1.2) forwards;
  position: relative;
  z-index: 1;
}

.p5-portrait-container {
  position: relative;
  width: 85px;
  height: 85px;
  margin-right: -10px;
  z-index: 50;
  transform: rotate(-3deg);
  flex-shrink: 0;
  z-index: 1;
  transform: translate(5px,65px);
}

.portrait-bg {
  position: absolute;
  inset: 0;
  background: #000;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  filter: drop-shadow(2px 2px 0px white) drop-shadow(-2px -2px 0px white);
}

.avatar-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}

.p5-text-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
  margin-left: 15px;
  position: relative;
}

.username-tag {
  background: black;
  color: white;
  padding: 4px 15px;
  font-size: 1.1em;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  width: fit-content;
  transform: skewX(-10deg) translateX(75px) translateY(15px);
  border: 2px solid white;
  z-index: 60;
  text-shadow: 2px 2px 0px #d12025;
}

.badges-container {
  display: flex;
}

.speech-bubble-supercontainer {
  position: relative;
  display: flex;
  align-items: center;
}

.speech-bubble-tail {
  position: absolute;
  left: -50px;     
  top: 25px; 
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 80;
}

.speech-bubble-tail-base {
  width: 60%;
  height: 60%;
  background: white;
  clip-path: polygon(6% 64%, 77% 1%, 95% 83%, 6% 90%);
  filter: drop-shadow(2px 0px 0px white);
}

.speech-bubble-tail-tip {
  width: 50%;
  height: 50%;
  background: white;
  margin-top: -5px;
  clip-path: polygon(6% 72%, 96% 1%, 92% 55%, 6% 72%);
  
  transform: translate(25px, 20px)rotate(-5deg);
  filter: drop-shadow(2px 0px 0px white);
  z-index: 85;
}

.speech-bubble-container {
  position: relative;
  background: white;
  right: -30px;
  color: white;
  padding: 8px 6px 9px 9px;
  font-size: 2.5rem;
  min-width: 300px;
  clip-path: polygon(3% 3%, 98% 3%, 95% 98%, 0% 100%);
  filter: drop-shadow(3px 0px 0px white) drop-shadow(-3px 0px 0px white)
    drop-shadow(0px 3px 0px white) drop-shadow(0px -3px 0px white);
  background-image: radial-gradient(#fff 15%, transparent 5%);
  background-size: 6px 6px;
  z-index: 90;
}

.speech-bubble {
  position: relative;
  background: black;
  color: white;
  padding: 15px 50px 15px 25px;
  font-size: 2.5rem;
  min-width: 300px;
  clip-path: polygon(3% 3%, 97% 3%, 95% 97%, 0% 100%);
  filter: drop-shadow(3px 0px 0px white) drop-shadow(-3px 0px 0px white)
  drop-shadow(0px 3px 0px white) drop-shadow(0px -3px 0px white);
  /* background-image: radial-gradient(#fff 15%, transparent 5%); */
  background-size: 6px 6px;
  z-index: 10;
}

/* .red-accent {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    background: red;
} */

.zigzag-connector {
  display: none;
  position: absolute;
  top: -55px;
  left: 65px;
  width: 35px;
  height: 80px;
  background: white;
  z-index: -1;
  transition: transform 0.2s;
  /* background-image: radial-gradient(#fff 15%, transparent 15%); */
  background-size: 6px 6px;
}

.zigzag-connector.zig-left {
  transform: skewX(30deg);
}

.zigzag-connector.zig-right {
  transform: skewX(-30deg);
  left: 75px;
}

.mensaje-row:nth-child(even) .zigzag-connector {
  transform: skewX(-30deg);
  left: 50px;
}

.mensaje-row.agrupado {
  margin-top: 1px;
}

.mensaje-row.agrupado .p5-portrait-container {
  visibility: hidden;
  height: 0;
  margin-bottom: 0;
}

.mensaje-row.agrupado .username-tag {
  display: none;
}

.mensaje-row.agrupado .zigzag-connector {
  display: block;
}

@keyframes phantom-appear {
  0% {
    opacity: 0;
    transform: translateX(-50px) skewX(-20deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) skewX(-5deg);
  }
}

.hide-anim {
  animation: phantom-exit 0.4s forwards;
}

@keyframes phantom-exit {
  to {
    opacity: 0;
    transform: translateX(50px) skewX(10deg);
  }
}

.emote {
  height: 1.3em;
  vertical-align: middle;
}

.badge {
  height: 1em;
  margin-right: 5px;
}
